{% extends "back/base.html" %}
{% block content %}
<style>
.blog-image {
  height: 200px;               /* Tetapkan tinggi tetap */
  object-fit: cover;           /* Potong bagian yang tidak muat, tetap proporsional */
  object-position: center;     /* Fokus di tengah gambar */
}
</style>
<div class="container mt-4">
  <h2 class="mb-4">Blog Sekolah</h2>

  {% if blogs %}
  <div class="row">
    {% for blog in blogs %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        {% if blog.gambar %}
        <img src="{{ blog.gambar.url }}" class="card-img-top blog-image" alt="...">
        {% endif %}
        <div class="card-body d-flex flex-column">
        <h5 class="card-title"><strong>{{ blog.judul }}</strong></h5>
          <p class="card-text">{{ blog.isi|truncatewords:25 }}</p>
          <div class="mt-auto">
            <a href="{% url 'detail_blog' blog.pk %}" class="btn btn-primary">Baca Selengkapnya</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
    <p>Belum ada postingan.</p>
  {% endif %}
</div>
{% endblock %}
